In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [2]:
credit_card= pd.read_csv("creditcard.csv",error_bad_lines=False)

C:\Users\balaj\AppData\Local\Temp\ipykernel_6916\1564535997.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  credit_card= pd.read_csv("creditcard.csv",error_bad_lines=False)

In [3]:
credit_card.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [4]:
credit_card.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
credit_card.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [6]:
credit_card.dropna(how='any', inplace=True)

In [7]:
credit_card.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
credit_card['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [9]:
legit=credit_card[credit_card.Class==0]
fraud=credit_card[credit_card.Class==1]
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [10]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [11]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [12]:
credit_card.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [13]:
legit_sample=legit.sample(n=982)
dataset=pd.concat([legit_sample,fraud])
dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
205340,135698.0,-0.217176,0.890900,-0.141211,-0.795647,0.825410,-0.676083,0.914434,-0.117478,0.225338,...,-0.341924,-0.724402,-0.016318,-0.785908,-0.356842,0.196792,0.371471,0.143852,9.86,0
164139,116487.0,-0.794544,-0.145912,1.328557,-1.956263,-0.337185,2.066481,0.396753,0.479300,-1.143281,...,-0.120825,-0.340958,-0.086131,-1.672601,0.080012,-0.262544,0.019677,-0.008573,165.30,0
17050,28398.0,0.705428,-1.395572,-0.731057,-1.267430,-0.643377,-0.478393,0.272216,-0.012964,1.321588,...,0.168614,-0.037293,-0.423873,-0.263190,0.579746,0.103366,-0.070893,0.031708,299.23,0
137569,82225.0,1.457252,-1.131300,0.579551,-1.511617,-1.570065,-0.421073,-1.211808,0.022650,-1.883979,...,-0.338061,-0.715224,0.122488,-0.071512,0.119018,-0.406194,0.032391,0.017152,25.90,0
151810,96294.0,-0.516555,0.367026,0.748457,-0.503403,0.133206,-0.723762,1.182174,-0.264161,1.614462,...,0.075683,0.446129,-0.065701,0.011160,0.088508,0.109479,0.044550,0.144239,117.00,0

In [14]:
dataset['Class'].value_counts()

0    982
1    492
Name: Class, dtype: int64

In [15]:
dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94493.038697,0.023837,-0.046049,0.063468,-0.016350,0.005451,-0.005441,-0.034491,-0.003868,-0.016938,...,0.034959,-0.015512,0.004725,0.016193,-0.030878,0.027283,-0.046116,0.000033,0.006966,88.652617
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [17]:
x=dataset.drop(columns='Class',axis=1)
y=dataset['Class']
x

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
205340,135698.0,-0.217176,0.890900,-0.141211,-0.795647,0.825410,-0.676083,0.914434,-0.117478,0.225338,...,0.085272,-0.341924,-0.724402,-0.016318,-0.785908,-0.356842,0.196792,0.371471,0.143852,9.86
164139,116487.0,-0.794544,-0.145912,1.328557,-1.956263,-0.337185,2.066481,0.396753,0.479300,-1.143281,...,0.056146,-0.120825,-0.340958,-0.086131,-1.672601,0.080012,-0.262544,0.019677,-0.008573,165.30
17050,28398.0,0.705428,-1.395572,-0.731057,-1.267430,-0.643377,-0.478393,0.272216,-0.012964,1.321588,...,0.346469,0.168614,-0.037293,-0.423873,-0.263190,0.579746,0.103366,-0.070893,0.031708,299.23
137569,82225.0,1.457252,-1.131300,0.579551,-1.511617,-1.570065,-0.421073,-1.211808,0.022650,-1.883979,...,-0.316442,-0.338061,-0.715224,0.122488,-0.071512,0.119018,-0.406194,0.032391,0.017152,25.90
151810,96294.0,-0.516555,0.367026,0.748457,-0.503403,0.133206,-0.723762,1.182174,-0.264161,1.614462,...,-0.000855,0.075683,0.446129,-0.065701,0.011160,0.088508,0.109479,0.044550,0.144239,117.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [18]:
y

205340    0
164139    0
17050     0
137569    0
151810    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 1474, dtype: int64

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)
print(x_train.shape,x_test.shape,x.shape)

(1179, 30) (295, 30) (1474, 30)

In [20]:
model= LogisticRegression()
print(model)

LogisticRegression()

In [21]:
model.fit(x_train,y_train)

LogisticRegression()

In [22]:
x_train_pred=model.predict(x_train)
training_data_accuracy=accuracy_score(x_train_pred,y_train)

In [23]:
print("Accuracy of the model:",training_data_accuracy*100)

Accuracy of the model: 95.16539440203562

In [24]:
x_test_pred=model.predict(x_test)
testing_accuracy=accuracy_score(x_test_pred,y_test)
print("Accuracy of the model with testing Data:",testing_accuracy*100)

Accuracy of the model with testing Data: 93.22033898305084

In [25]:
from sklearn.metrics import precision_score, recall_score,f1_score
precision = precision_score(x_test_pred,y_test)
print("Precision of the model:",precision)
recall = recall_score(x_test_pred,y_test)
print("Recall of the model:",recall )
f1 = f1_score(x_test_pred,y_test)
print("F1 Score of the model:",f1)

Precision of the model: 0.9183673469387755
Recall of the model: 0.8823529411764706
F1 Score of the model: 0.9